body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.guess-area {
    margin-top: 20px;
}

#guessInput {
    padding: 8px;
    width: 80px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#checkBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

#checkBtn:hover {
    background-color: #45a049;
}

#message {
    margin-top: 15px;
    font-size: 1.1em;
}

#resetBtn {
    background-color: #008CBA;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}

#resetBtn:hover {
    background-color: #007bb5;
}


@media (max-width : 900px){
    .container{
        width: 80%;
        height: 75vh;
    }
    .container h1 {
        font-size: 50px;
    }
    .container p {
        font-size: 41px;
        padding: 16px;
        font-family: 'Times New Roman', Times, serif;
    }

    #guessInput {
        padding: 8px;
        width: 143px;
        border: 1px solid #ccc;
        border-radius: 4px;
        height: 47px;
        font-size: 19px;   
    }

    #checkBtn {
        width: 143px;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-left: 10px;
        margin: 20px;
        height: 60px;
        font-size: 14px;
        font-weight: 500;
        
    }
    #resetBtn {
    background-color: #008CBA;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    height: 49px;
    width: 111px;
    font-size: 16px;
    }
}
